<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title> To do list </title>
    <h1>Hey Bitch! it's <em><%= Time.now.to_s %></em>, and you got shit to do </h1>
</head>

<body>
<h3> What to do...</h3>
  <form method="post" actions="/">
    <input type="text" name="task" placeholder="Shit to do"/>
    <input type= "date" name="date" placeholder="Due Date" />
    <input type="submit" value="Add to do item" />
    <
  </form>


<h3>You got dis shit to do</h3>

  <ul>
      <% @lines.each do |line| %>
      <p1><li><%= line %></li></p1>
      <% end %>
  </ul>


</body>
</html>
