<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <title> To do list </title>
    <h1>Hi, you're up! <br /> it's <em><%= Time.now.to_s %></em>, and you stuff to do..</h1>
</head>

<body>
<h3> Add more things right here:</h3>
  <form method="post" actions="/">
    <input type="text" name="description" placeholder="Shit to do"/>
    <input type= "date" name="due_date" placeholder="Due Date" />
    <input type="submit" value="Add to do item" />
  </form>

<h3>You have these things right here</h3>

  <ul>
      <% @tasks.each do |task| %>
      <p1><li>
        <% unless task.description.blank? %> <%= task.description %> <% end %>

        <% unless task.due_date.blank? %> - <%= task.due_date %> <% end %>

        <% unless task.description.blank? %>
          <a style="text-decoration: none" href='/delete/<%= task.id %>'><button class="button"> Done with this shit! </button> </a> <% end %>
        <% unless task.description.blank? %> <%end%>

        <% end %>
      </li></p1>

  </ul>



</body>
</html>
